.page {
    max-width: 1000px;
    width: 90%;
    display: block;
    margin: auto;
    height: calc(100% - 110px);
}

.content {
}

.header {
    background-color: #57105E;
}

#filters {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.search {
    border: 2px solid #333;
    margin: 0px auto 10px;
    height: 30px;
    font-size: 16pt;
    width: calc(100% - 120px);
    display: inline-block;
}

.filter-message p {
    position: relative;
    top: -100px;
}

.submit {
    background: #5B1662;
    color: #FFFFFF;
    width: 100px;
    border: 2px solid #333;
    font-size: 16pt;
    height: 36px;
    padding: 2px;
    display: inline-block;
    margin: 20px auto;
}

.header-inner {
    max-width: 1000px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right .github-fork-ribbon {
    background-color: #39013F;
}

table {
    padding-top: 15px;
    width: 100%;
    border-spacing: 0px;
}

.table-header {
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    width: 49%;
    display: inline-block;
    text-align: left;
}

.catchphrase {
    width: 49%;
    display: inline-block;
    text-align: right;
    color: #FFFFFF;
    font-size: 1.4em;
}

.message {
    display: block;
    position: relative;
    top: -10px;
}

td {
    padding-bottom: 5px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    margin: 0px;
    color: #FFFFFF;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.h1link:link, .h1link:visited, .h1link:active {
    color: #FFFFFF;
    text-decoration: none;
}

.h1link:hover {
    color: #E4C9E6;
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #1E0429;
}

a:hover {
    color: #57105E;
}
